ion-virtual-scroll > .virtual-item {
    height: auto !important;
}

.logo {
 max-height: 35px;
}
.skeleton-50 {
    width: 50%;
}
.skeleton-100 {
    width: 100%;
}
.skeleton-80 {
    width: 80%;
}
.skeleton-70 {
    width: 70%;
}

.img-container {
    overflow: hidden !important;
    height: 25vh;
    object-fit: cover;
}

.video-container {
    overflow: hidden !important;
    height: 50vh;
    object-fit: cover;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-button-icon {
    font-size: 64px !important;
}

.video-player {
    width: 100% !important;
    height: 50vh !important;
}

ion-thumbnail.skeleton-card-image {
    width: 100% !important;
    height: 40vh !important;
}
.center-row { 
    align-items: center !important;
    justify-content: center !important;
 }
