.logo {
 max-height: 35px;
}
.skeleton-50 {
    width: 50%;
}
.skeleton-100 {
    width: 100%;
}
.skeleton-80 {
    width: 80%;
}
.skeleton-70 {
    width: 70%;
}
ion-thumbnail.skeleton-card-image {
    width: 100% !important;
    height: 300px !important;
}
.center-row { 
    align-items: center !important;
    justify-content: center !important;
 }
